<!DOCTYPE html>

<!--[if lt IE 7]> <html lang="en" class="ie6 lte9 lte8 lte7 lte6 no-js"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="ie8 lte9 lte8 no-js"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9 lte9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html id="html" lang="en" class="no-mobile no-js">
  <!--<![endif]-->
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_page_level_ads_2023021401.js"></script>
    <script
      type="text/javascript"
      async=""
      src="https://script.4dex.io/localstore.js"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta property="og:url" content="https://letterboxd.com/list/new/" />
    <meta property="og:title" content="Start a new list" />
    <meta
      property="og:image"
      content="https://s.ltrbxd.com/static/img/default-share.e38c5d62.png"
    />

    <meta name="application-name" content="Letterboxd" />
    <meta name="theme-color" content="#445566" />
    <meta name="msapplication-TileColor" content="#445566" />
    <meta
      name="apple-itunes-app"
      content="app-id=1054271011, affiliate-data=11l5KW"
    />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>&lrm;Start a new list • Letterboxd</title>

    <script
      async=""
      src="https://c.amazon-adsystem.com/aax2/apstag.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-L0W7RDZXX3&amp;l=dataLayer&amp;cx=c"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag =
        window.gtag ||
        function () {
          dataLayer.push(arguments);
        };
      function ga() {}

      // Default consent to 'denied'.
      gtag("consent", "default", {
        analytics_storage: "denied",
        ad_storage: "denied",
      });
    </script>

    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-D3ECBB4D7L"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag =
        window.gtag ||
        function () {
          dataLayer.push(arguments);
        };
      gtag("js", new Date());

      var analytic_params = {};

      analytic_params["user_id"] = "43616cbe4aa4ddf211f2ccea08f1dd0bc253e450";
      analytic_params["user_type"] = "Member";
      analytic_params["member_type"] = "FREE";
      analytic_params["template"] = "/object/filmlist/new";

      if (analytic_params.member_type) {
        gtag("set", "user_properties", {
          member_type: analytic_params.member_type,
        });
        delete analytic_params.member_type;
      }
      var config = {
        ...analytic_params,
        cookie_domain: "letterboxd.com",
        optimize_id: "GTM-TB8HSDN",
      };
      gtag("config", "G-D3ECBB4D7L", config);
    </script>

    <script>
      var isMobile = false,
        isMobileOptimised = false,
        renderMobile = false,
        useStaticFonts = false,
        disableFrameProtection = false,
        baseURL = "",
        successMessages = [],
        errorMessages = [],
        stickyMessages = [],
        globals = {
          autoAddFilm: false,
          spinners: {
            ajax_242d35:
              "https://s.ltrbxd.com/static/img/spinner-dark-2x.fda24f88.gif",
            spinner_12_2C3641:
              "https://s.ltrbxd.com/static/img/spinner-dark-2x.fda24f88.gif",
            spinner_14_20272f:
              "https://s.ltrbxd.com/static/img/spinner-dark-2x.fda24f88.gif",
            spinner_16_161B21:
              "https://s.ltrbxd.com/static/img/spinner-dark-2x.fda24f88.gif",
          },
        },
        supermodelCSRF = "",
        gRecaptchaKey = "6Le3mMIUAAAAAEXbwZ7M1R5jEv0V5xbvj7bgXq2g",
        person = {
          username: "",
          loggedIn: false,

          showAds: true,
          role: "guest",
          hasExtendedServiceFilters: false,
          canBulkAddToLists: false,
          canFilterOwned: false,
          hasHqRole: false,
          canHaveHqDashboard: false,
          hasMemberStatistics: false,
          blockedMembers: [],
          showAdultContent: false,
          validated: null,
          trusted: false,
          hasBlocked: function (member) {
            for (var i = 0; i !== person.blockedMembers.length; i++) {
              if (person.blockedMembers[i] === member) return true;
            }
            return false;
          },
          viewingTags: [],
          hasMoreTags: true,
          getCustomPoster: function (filmId) {
            return null;
          },
        },
        disableAds = false;

      supermodelCSRF = "364ebf90f82119a76886";
      person.username = "<%= user.username %>";
      person.loggedIn = true;
      person.optimisedPosters = false;
      person.role = "member";
      person.moderator = false;
      person.showAds = true;
      person.canUpgradeToPro = true;
      person.hasExtendedServiceFilters = false;
      person.canBulkAddToLists = false;
      person.canFilterOwned = false;
      person.hasHqRole = false;
      person.canHaveHqDashboard = false;
      person.hasMemberStatistics = false;
      person.canAccessFilmStats = false;
      person.blockedMembers = [];
      person.showAdultContent = false;
      person.validated = false;
      person.trusted = false;
      person.avatarURL16 =
        "https://s.ltrbxd.com/static/img/avatar32.09445e73.png";
      person.avatarURL24 =
        "https://s.ltrbxd.com/static/img/avatar48.7a758b1e.png";
      person.posterMode = "All";
      person.canHaveCustomPosters = false;
      person.getCustomPoster = function (film) {
        const posters = {};
        return posters[film];
      };

      var fixURL = "/list/new/";

      if (screen.width < 768) {
        var date = new Date();
        var maxAge = 365 * 24 * 60 * 60;
        date.setTime(date.getTime() + maxAge * 1000);
        var expires = "; expires=" + date.toUTCString();
        document.cookie =
          "useMobileSite=yes" + expires + "; path=/; maxAge=" + maxAge;
        if (
          document.cookie &&
          document.cookie.indexOf("useMobileSite=yes") >= 0
        ) {
          window.location.reload(true);
        } else {
          // No cookies.  No Mobile version.
        }
      }

      var isWindows = navigator.platform.toUpperCase().indexOf("WIN") >= 0; // Detect windows platform
      if (isWindows) {
        document.documentElement.classList.add("is-windows");
      }
    </script>

    <script>
      window.ramp = window.ramp || {};
      window.ramp.que = window.ramp.que || [];
      window.ramp.passiveMode = false;
      window.ramp.forcePath = "";
      window.ramp.custom_tags = ["", "", "intl_true", "", ""];
    </script>
    <script src="//cdn.intergient.com/1024338/72804/ramp_config.js"></script>
    <script
      type="text/javascript"
      async=""
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://cdn.intergi.com/prebid/prebid.js.br"
    ></script>
    <script>
      window._pwGA4PageviewId = "".concat(Date.now());
      window.dataLayer = window.dataLayer || [];
      window.gtag =
        window.gtag ||
        function () {
          dataLayer.push(arguments);
        };
      gtag("js", new Date());
      gtag("config", "G-L0W7RDZXX3", { send_page_view: false });
      gtag("event", "ramp_js", {
        send_to: "G-L0W7RDZXX3",
        pageview_id: window._pwGA4PageviewId,
      });
    </script>

    <link rel="manifest" href="/manifest.json" />
    <link rel="author" type="text/plain" href="/humans.txt" />
    <link
      rel="mask-icon"
      href="https://s.ltrbxd.com/static/img/icons/letterboxd-decal-l-16px.5fe24c7d.svg"
      color="#445566"
    />
    <link
      rel="shortcut icon"
      sizes="196x196"
      href="https://s.ltrbxd.com/static/img/icons/touch-icon-192x192.257b84e7.png"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="Letterboxd"
      href="/static/opensearch.xml"
    />

    <!--[if lte IE 9]>
      <link
        href="https://s.ltrbxd.com/static/css/ie9-1.min.00ca4a84.css"
        rel="stylesheet"
        media="screen, projection"
      />
      <link
        href="https://s.ltrbxd.com/static/css/ie9-2.min.70a1d787.css"
        rel="stylesheet"
        media="screen, projection"
      />
    <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <link
      href="https://s.ltrbxd.com/static/css/main.min.d4047977.css"
      rel="stylesheet"
      media="screen, projection"
    />
    <!--<![endif]-->
    <!--[if lte IE 6
      ]><script>
        location.replace("/errors/ie6");
      </script><!
    [endif]-->
    <!--[if IE 7
      ]><script>
        location.replace("/errors/ie7");
      </script><!
    [endif]-->
    <!--[if IE 8
      ]><script>
        location.replace("/errors/ie8");
      </script><!
    [endif]-->
    <!--[if IE 9
      ]><script>
        location.replace("/errors/ie9");
      </script><!
    [endif]-->

    <link
      href="https://s.ltrbxd.com/static/css/desktop.min.1c7835d9.css"
      rel="stylesheet"
      media="screen, projection"
    />

    <!-- <script src="https://s.ltrbxd.com/static/js/main.min.4e28f9b0.js"></script> -->
    <style></style>
    <style title="lb-spinner"></style>

    <script>
      if ($.cookie("letterboxd.admin.signed.in") === person.username) {
        successMessages.push("You are signed in as " + person.username);
        $(function () {
          $("#header, #content, body").css("background", "#543");
        });
      }
    </script>

    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <script
      src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2023021401.js"
      async=""
    ></script>
    <script src="//cdn.intergient.com/ramp_core.js"></script>
    <style type="text/css" id="pwCustomCSS">
      div#tyche_trendi_parent_container {
        margin-bottom: 20px;
      }
      div#tyche_trendi_parent_container div {
        z-index: 99 !important;
      }
      div#tyche_trendi_parent_container div.is-docked {
        z-index: 99 !important;
      }
      .smenu-menu {
        z-index: 100 !important;
      }
      .page-footer.-bottomrail {
        padding-bottom: 360px !important;
      }
      .mobile .page-footer .social {
        padding-bottom: 100px;
      }

      /* fix to bottom so ads aren't hidden by container */
      div#pw-oop-bottom_rail {
        z-index: 1 !important;
      }

      /* fix so that video player doesn't cover log movie screen */
      div#tyche_trendi_video_container {
        z-index: 999 !important;
      }

      /* fix so that flex leaderboard doesn't cover log movie screen */
      div#pw-oop-flex_leaderboard {
        z-index: 999 !important;
      }

      /*fix so that bottom rail doesn't show with flex leaderboard */
      body[class*="flex-leaderboard"] div#pw-oop-bottom_rail {
        display: none;
      }

      /* fix for flexleaderboard on certain pages (like film) */
      body.flex-leaderboard-active div.backdrop-container {
        top: 350px;
        background-color: #14181c;
      }

      @media only screen and (max-width: 801px) {
        body.flex-leaderboard-active div.backdrop-container {
          top: 210px;
        }
      }

      div#pw-oop-right_rail {
        z-index: 99 !important;
      }

      /* showing a white space at the bottom */
      #bgdiv {
        background-color: #252525 !important;
      }
    </style>
    <script
      type="text/javascript"
      src="https://z.moatads.com/playwireprebidheader597261727146/moatheader.js"
      async=""
    ></script>
    <script
      type="text/javascript"
      src="https://tags.crwdcntrl.net/lt/c/16180/sync.min.js"
      async=""
      id="lotameScript"
    ></script>
    <script src="https://cdn.intergient.com/pageos/js/libs/aws-sdk-kinesis.min.js.br"></script>
    <script
      src="https://cdn.intergi.com/hera/releases/4.6.12/tyche.js"
      type="text/javascript"
    ></script>
    <style type="text/css">
      #pw-close-btn {
        cursor: pointer;
        position: fixed;
        width: 32px;
        z-index: 2147483645;
      }
      .pw-close-btn-top.pw-close-btn-top--flex-docked {
        top: 75px !important;
      }
      .pw-close-btn-top.pw-close-btn-top--flex {
        top: 215px !important;
      }
      .pw-close-btn {
        position: absolute !important;
        right: 0px;
        top: -42px !important;
      }
      .pw-close-btn-top {
        right: 287px !important;
        top: 5px !important;
      }
      #pw-close-btn.hide {
        display: none !important;
      }
      #pw-close-btn.show {
        display: block !important;
      }
      #pw-close-btn.bolt-linear-ad-on {
        display: none;
      }
      #pw-close-btn .circle {
        display: inline-block !important;
        font-family: sans-serif !important;
        line-height: 0 !important;
        width: 32px;
        height: 32px;
      }
      #tyche_trendi_video_container #pw-close-btn .circle {
        width: 16px;
        height: 16px;
      }
    </style>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/runtime.6cb0db5e8bd19a6b899b.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/vendor/npm.core-js.9ecd3933ce7c5b26ca2f.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/vendor/npm.lodash.39a04a8f1c96ade254ee.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/vendor/npm.babel.816b6b897780bce545f1.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/vendor/npm.intersection-observer.312f6562336e9769b3ec.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/635.c6832658487cc1354cf2.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/main.480b188fd4b6125e3b02.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.intergi.com/hera/releases/4.6.12/lib/lib.37dee626aab965fa63d6.js"
    ></script>
    <style type="text/css" id="pwCSSstyling">
      .pw-tag {
        text-align: center;
        opacity: 1;
      }
      .pw-oop-tag {
        width: 1px;
        height: 1px;
        line-height: 1px;
        position: fixed;
      }
      .pw-tag-hidden {
        visibility: hidden;
        opacity: 0;
      }
      .pw-in-article {
        padding: 20px 0;
      }
      .pw-in-article_hidden {
        visibility: hidden;
        height: 0;
      }
      .pw-fixed-mobile-leaderboard {
        position: fixed;
        bottom: 0px;
        left: 50%;
        width: 320px;
        height: 50px;
        margin-left: -160px;
        z-index: 2147483645;
        text-align: center;
        padding: 2px 0;
        background: rgba(0, 0, 0, 0.8);
        transition: opacity 0.6s ease-in;
      }
      .fixed-mobile-close {
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.35);
        border-left: 1px solid rgba(0, 0, 0, 0.35);
        border-right: 1px solid rgba(0, 0, 0, 0.35);
        border-radius: 4px 4px 0 0;
        padding: 3px 6px 3px 6px;
        position: absolute;
        top: -22px;
        right: -1px;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.55);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.75);
        line-height: 1.2;
        font-size: 12px;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
      .pw-siderail-left-close {
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.35);
        border-left: 1px solid rgba(0, 0, 0, 0.35);
        border-right: 1px solid rgba(0, 0, 0, 0.35);
        border-radius: 4px 4px 0 0;
        padding: 3px 6px 3px 6px;
        position: absolute;
        top: -22px;
        left: -1px;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.55);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.75);
        line-height: 1.2;
        font-size: 12px;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
      .pw-siderail-right-close {
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.35);
        border-left: 1px solid rgba(0, 0, 0, 0.35);
        border-right: 1px solid rgba(0, 0, 0, 0.35);
        border-radius: 4px 4px 0 0;
        padding: 3px 6px 3px 6px;
        position: absolute;
        top: -22px;
        right: -1px;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.55);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.75);
        line-height: 1.2;
        font-size: 12px;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
      div[data-pw-desk="leaderboard_atf"].pw-sticky,
      div[data-pw-mobi="leaderboard_atf"].pw-sticky {
        z-index: 2147483645;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 20px 0;
        background: rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: 750ms opacity ease-out;
        opacity: 1;
        border-bottom: 1px solid rgba(238, 238, 238, 0.4);
      }
      div[data-pw-desk="med_rect_atf"].pw-sticky {
        z-index: 2147483644;
        position: fixed;
        width: 300px;
        padding: 0;
        background: transparent;
        overflow: hidden;
        transition: 750ms opacity ease-out;
        opacity: 1;
        border-bottom: 20px solid #fff;
        border-top: 20px solid #fff;
      }
      .pws-sticky:before {
        z-index: -1;
        -webkit-filter: blur(34px);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.5);
      }
      .pw-sticky-hide {
        opacity: 0%;
      }
      #pw-oop-behind_page {
        z-index: 0;
      }
      #pw-oop-site_skin {
        z-index: 0;
      }
      #pw-oop-above_page {
        z-index: 2147483647;
      }
      #pw-oop-top_rail {
        top: 0px;
        left: 0px;
      }
      #pw-oop-left_rail {
        left: 0px;
        top: 0px;
        position: fixed;
        min-width: 160px;
        height: 600px;
      }
      #pw-oop-right_rail {
        right: 0px;
        top: 0px;
        position: fixed;
        min-width: 160px;
        height: 600px;
      }
      .pw-tps {
        display: none;
      }
      #tycheConsole {
        background-color: #fff;
        border-top: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 2% 2% 2%;
        z-index: 9999999999;
        box-sizing: border-box;
      }
      #tycheConsole a:visited {
        color: rgb(52, 152, 219);
      }
      #tycheConsole li:hover {
        background: rgba(52, 152, 219, 0.26);
      }
      .ad__name {
        display: inline-block;
        width: 15%;
        font-weight: bold;
      }
      div[data-pw-desk="leaderboard_atf"] > div > iframe {
        margin: auto;
      }
      #pw-oop-bottom_rail > div > iframe {
        margin: auto;
      }
      #video_backfill {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        z-index: 11;
      }
      #video_backfill > .pw_report_ad_container {
        display: block;
      }
    </style>
    <script
      charset="utf-8"
      src="//cdn.playwire.com/bolt4/js/zeus/releases/4.6.8/7.js"
    ></script>
    <style></style>
    <link
      rel="preload"
      href="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.co.th/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="preload"
      href="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
      as="script"
    />
    <script
      type="text/javascript"
      src="https://adservice.google.com/adsid/integrator.js?domain=letterboxd.com"
    ></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body class="lists-new logged-in">
    <div id="pw-oop-flex_leaderboard_container">
      <div id="pw-oop-flex_leaderboard" class="pw-tag pw-oop-tag">
        <div
          id="google_ads_iframe_/154013155,12709546/1024338/72804/1024338-72804-flex_leaderboard_0__container__"
          style="border: 0pt none"
        ></div>
      </div>
    </div>

    <script>
      var mainMenu = [];

      mainMenu.push({
        id: 1,
        url: "/sign-in/",
        name: "Sign In",
        cssClassCode: "sign-in-menu",
        hideWhenSignedIn: true,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: true,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 2,
        url: "/create-account/",
        name: "Create Account",
        cssClassCode: "create-account-menu",
        hideWhenSignedIn: true,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 3,
        url: "/",
        name: "Home",
        cssClassCode: "person-home",
        hideWhenSignedIn: true,
        hideWhenNotSignedIn: true,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 4,
        url: "/activity/",
        name: "Activity",
        cssClassCode: "main-nav-activity",
        hideWhenSignedIn: false,
        hideWhenNotSignedIn: true,
        showInMainNavForMobile: false,
        tooltip: "Activity",
        selected: false,
      });

      mainMenu.push({
        id: 5,
        url: "/films/",
        name: "Films",
        cssClassCode: "films-page main-nav-films",
        hideWhenSignedIn: false,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 6,
        url: "/lists/",
        name: "Lists",
        cssClassCode: "lists-page main-nav-lists",
        hideWhenSignedIn: false,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 7,
        url: "/members/",
        name: "Members",
        cssClassCode: "main-nav-people",
        hideWhenSignedIn: false,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 8,
        url: "/journal/",
        name: "Journal",
        cssClassCode: "main-nav-journal",
        hideWhenSignedIn: false,
        hideWhenNotSignedIn: false,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });

      mainMenu.push({
        id: 9,
        url: "/search/",
        name: "Search results",
        cssClassCode: "",
        hideWhenSignedIn: true,
        hideWhenNotSignedIn: true,
        showInMainNavForMobile: false,
        tooltip: "",
        selected: false,
      });
    </script>

    <header class="site-header js-hide-in-app -searchopen" id="header">
      <div class="site-header-bg"></div>
      <section>
        <h1 class="site-logo">
          <a href="/" class="logo replace">Letterboxd — Your life in film</a>
        </h1>

        <div
          class="react-component"
          data-component-class="globals.comps.NavComponent"
        >
          <div>
            <nav class="main-nav">
              <ul class="navitems">
                <li
                  class="navitem nav-account js-nav-account"
                  style="right: 435.664px"
                  onmouseover="document.querySelector('.subnav').style.display = 'block';"
                  onmouseout="document.querySelector('.subnav').style.display = 'none';"
                >
                  <a href="#" class="has-icon toggle-menu"
                    ><span class="icon"></span
                    ><span class="avatar -a24" data-js-user-avatar="true"
                      ><img
                        src="https://s.ltrbxd.com/static/img/avatar48.7a758b1e.png"
                        alt="<%= user.username %>"
                        width="24"
                        height="24" /></span
                    ><%= user.username %></a
                  >
                  <ul class="subnav" style="display: none" >
                    <li>
                      <a href="#" class="has-icon toggle-menu"
                        ><span class="icon"></span
                        ><span class="avatar -a24" data-js-user-avatar="true"
                          ><img
                            src="https://s.ltrbxd.com/static/img/avatar48.7a758b1e.png"
                            alt="<%= user.username %>"
                            width="24"
                            height="24" /></span
                        ><%= user.username %></a
                      >
                    </li>
                    <li class="divider"><a href="/">Home</a></li>
                    <li><a href="/<%= user.username %>/">Profile</a></li>
                    <li><a href="/<%= user.username %>/films/">Films</a></li>
                    <li>
                      <a href="/<%= user.username %>/films/diary/">Diary</a>
                    </li>
                    <li>
                      <a href="/<%= user.username %>/films/reviews/">Reviews</a>
                    </li>
                    <li>
                      <a href="/<%= user.username %>/watchlist/">Watchlist</a>
                    </li>
                    <li><a href="/<%= user.username %>/lists/">Lists</a></li>
                    <li><a href="/<%= user.username %>/likes/">Likes</a></li>
                    <li><a href="/<%= user.username %>/tags/">Tags</a></li>
                    <li>
                      <a href="/<%= user.username %>/following/">Network</a>
                    </li>
                    <li class="divider"><a href="/settings/">Settings</a></li>
                    <li>
                      <a href="/settings/subscriptions/">Subscriptions</a>
                    </li>
                    <li>
                      <a
                        id="sign-out"
                        href="#"
                        class="ajax-click-action"
                        data-action="/user/logout.do"
                        >Sign Out</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="navitem main-nav-activity">
                  <a
                    href="/activity/"
                    class="navlink has-icon js-tooltip"
                    data-original-title="Activity"
                    ><span class="icon"></span
                    ><span class="label">Activity</span></a
                  >
                </li>
                <li class="navitem films-page main-nav-films">
                  <a href="/films/" class="navlink has-icon"
                    ><span class="icon"></span
                    ><span class="label">Films</span></a
                  >
                </li>
                <li class="navitem lists-page main-nav-lists">
                  <a href="/lists/" class="navlink has-icon"
                    ><span class="icon"></span
                    ><span class="label">Lists</span></a
                  >
                </li>
                <li class="navitem main-nav-people">
                  <a href="/members/" class="navlink has-icon"
                    ><span class="icon"></span
                    ><span class="label">Members</span></a
                  >
                </li>
                <li class="navitem main-nav-journal">
                  <a href="/journal/" class="navlink has-icon"
                    ><span class="icon"></span
                    ><span class="label">Journal</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <form
          method="post"
          action="#"
          id="signin"
          class="signin signin-form js-header-signin-form js-signin -hidden"
          data-url="/user/login.do"
          data-recaptcha-action="signin"
          novalidate="novalidate"
          autocorrect="off"
          autocapitalize="off"
          style="opacity: 0; display: none"
        >
          <input type="hidden" name="__csrf" value="364ebf90f82119a76886" />
          <fieldset class="fieldset">
            <div class="fields">
              <div class="col">
                <label for="username">Username or Email</label>
                <input
                  type="email"
                  name="username"
                  id="username"
                  class="field signin-field"
                  tabindex="1"
                  data-focus-control="signingIn"
                  autocomplete="email"
                  inputmode="email"
                  value=""
                />
              </div>
              <div class="col">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="field signin-field"
                  tabindex="2"
                  autocomplete="current-password"
                  value=""
                />
              </div>
              <div class="signin-actions">
                <label for="remember" class="option-label -checkbox -small">
                  <input
                    type="checkbox"
                    name="remember"
                    id="remember"
                    class="checkbox"
                    tabindex="3"
                    value="true"
                  /><i class="substitute"></i>
                  <span class="focus"
                    >Remember<span class="mob-hide"> me</span></span
                  >
                </label>
                <p class="reset" tabindex="5">
                  <a
                    class="reset-password-link"
                    href="/user/request-password-reset"
                    target="_top"
                    >Forgotten<span class="elongated"> password</span>?</a
                  >
                </p>
              </div>
              <div class="col buttons">
                <div class="button-container">
                  <input
                    type="submit"
                    value="Sign in"
                    class="button -action button-green"
                    tabindex="4"
                  /><i></i>
                </div>
                <div class="close js-close-signin">×</div>
              </div>
            </div>
          </fieldset>
          <div id="signin-message" class="errormessage"></div>
        </form>

        <form
          id="search"
          class="js-search-form search-form"
          action="/search/"
          method="get"
          autocorrect="off"
        >
          <input
            autocomplete="false"
            name="hidden"
            type="text"
            style="display: none"
          />
          <fieldset>
            <label for="search-q" class="hidden">Search:</label>
            <input
              type="text"
              name="q"
              id="search-q"
              class="field -borderless"
              data-lpignore="true"
              inputmode="search"
              value=""
            />
            <input type="submit" value="Search" class="action" />
          </fieldset>
        </form>
      </section>
    </header>

    <div id="content" class="site-body">
      <div class="content-wrap">
        <div style="display: none">
          <div id="list-entry-modal" class="modal">
            <article id="edit-list-entry" class="not-expanded">
              <aside class="col-4 left gutter-right-1 expanded">
                <section
                  id="list-entry-poster-frame"
                  class="poster-list -p150 no-hover"
                >
                  <div class="poster no-poster">
                    <span class="frame"></span>
                  </div>
                </section>
              </aside>

              <section class="col col-13 overflow expanded">
                <h1>Edit list entry</h1>
                <span id="list-index" style="display: none"></span>
                <h2 class="headline-2 prettify">
                  <span id="film-title"></span>
                  <small id="film-year" class="metadata"></small>
                </h2>

                <form id="list-entry-form" action="#">
                  <fieldset class="fields-reversed">
                    <div class="row">
                      <label class="hidden">Add notes...</label>
                      <textarea
                        id="frm-review"
                        class="textarea"
                        placeholder="Add notes..."
                        data-gramm="false"
                        wt-ignore-input="true"
                      ></textarea>
                    </div>
                    <div class="row">
                      <div class="col col-5 overflow spoilers-col">
                        <label
                          for="frm-spoilers"
                          class="option-label -checkbox -default"
                        >
                          <input
                            type="checkbox"
                            value="true"
                            class="checkbox"
                            id="frm-spoilers"
                          /><i class="substitute"></i>
                          Notes contain spoilers
                        </label>
                      </div>
                      <div class="row buttons">
                        <input
                          id="list-entry-save-button"
                          type="submit"
                          class="button -action right button-action"
                          value="Update"
                        />
                        <a
                          id="list-entry-cancel-button"
                          class="button right button-cancel"
                          >Cancel</a
                        >
                      </div>
                    </div>
                    <div class="clear"></div>
                  </fieldset>
                </form>
              </section>
            </article>
          </div>
        </div>

        <form
          method="post"
          action="/s/update-list"
          id="list-form"
          novalidate="novalidate"
        >
          <input type="hidden" name="__csrf" value="364ebf90f82119a76886" />
          <input
            type="hidden"
            name="filmListId"
            id="film-list-editor-id"
            value=""
          />
          <input type="hidden" name="version" value="" />

          <div class="cols-2 overflow film-list-editor-contents">
            <article class="section">
              <header class="page-header">
                <h1 class="title-hero js-film-list-editor-title">New List</h1>
              </header>

              <fieldset
                id="film-list-main-details"
                class="overflow list-sharing"
              >
                <div class="list-details-left">
                  <div class="form-row">
                    <label class="has-icon validated"
                      ><span class="icon"></span>Name of list</label
                    >
                    <input type="text" name="name" class="field" id="list-name-input" value="" />
                  </div>
                  <div
                    class="form-row autocomplete-tags-data"
                    data-autocomplete-tags=""
                    data-has-more-tags="true"
                  >
                    <label for="list-tags">Tags</label>
                    <p class="note -topnote mob-hide">
                      Press Tab to complete, Enter to create
                    </p>
                    <div class="autocomplete-tags">
                      <div id="tag-container">
                        <span
                          class="twitter-typeahead"
                          style="position: relative; display: inline-block"
                          ><input
                            type="text"
                            id="list-tags"
                            class="tag-input-field field tt-input"
                            name="tags"
                            placeholder="eg. top 10"
                            data-url="/s/autocompletetags"
                            autocomplete="off"
                            spellcheck="false"
                            dir="auto"
                            aria-owns="list-tags_listbox"
                            role="combobox"
                            aria-autocomplete="list"
                            aria-expanded="false"
                            style="
                              position: relative;
                              vertical-align: top;
                            " /><span
                            role="status"
                            aria-live="polite"
                            style="
                              position: absolute;
                              padding: 0px;
                              border: 0px;
                              height: 1px;
                              width: 1px;
                              margin-bottom: -1px;
                              margin-right: -1px;
                              overflow: hidden;
                              clip: rect(0px, 0px, 0px, 0px);
                              white-space: nowrap;
                            "
                          ></span>
                          <pre
                            aria-hidden="true"
                            style="
                              position: absolute;
                              visibility: hidden;
                              white-space: pre;
                              font-family: Graphik-Regular-Web, sans-serif;
                              font-size: 14px;
                              font-style: normal;
                              font-variant: normal;
                              font-weight: 400;
                              word-spacing: 0px;
                              letter-spacing: 0px;
                              text-indent: 0px;
                              text-rendering: auto;
                              text-transform: none;
                            "
                          ></pre>
                          <div
                            role="listbox"
                            class="tags-menu"
                            id="list-tags_listbox"
                            style="
                              position: absolute;
                              top: 100%;
                              left: 0px;
                              z-index: 100;
                              display: none;
                            "
                          >
                            <div
                              role="presentation"
                              class="tt-dataset tt-dataset-tags"
                            ></div></div
                        ></span>
                      </div>
                      <div id="current-tags">
                        <ul class="tags"></ul>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <ul class="options-list -cols">
                      <li class="option list-toggle list-public-toggle">
                        <label class="option-label -checkbox -default">
                          <input
                            type="checkbox"
                            name="publicList"
                            id="list-is-public"
                            class="checkbox"
                            value="true"
                            checked="checked"
                          /><i class="substitute"></i> Public list<br />
                          <span class="note"
                            >Make this list visible to others.</span
                          >
                        </label>
                      </li>
                      <li class="option list-toggle list-numbers-toggle">
                        <label class="option-label -checkbox -default">
                          <input
                            type="checkbox"
                            name="numberedList"
                            id="show-item-numbers"
                            class="checkbox"
                            value="true"
                          /><i class="substitute"></i> Ranked list<br />
                          <span class="note">Show position for each film.</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="list-details-right">
                  <div class="form-row">
                    <label>Description</label>
                    <p class="note -topnote allowed-html js-allowed-html">
                      <a href="#">Show supported HTML</a>
                      <span class="allowed-tags js-allowed-html-tags"
                        >&lt;strong&gt; &lt;em&gt; &lt;b&gt; &lt;i&gt; &lt;a
                        href=""&gt; &lt;blockquote&gt;</span
                      >
                    </p>
                    <textarea
                      name="notes"
                      class="textarea notes-field"
                      data-gramm="false"
                      wt-ignore-input="true"
                    ></textarea>
                  </div>
                </div>
                <div class="clear"></div>
              </fieldset>

              <!-- <h3 class="list-edit-introduction">Add films to your list using the <a href="#frm-list-film-name" class="list-add-films-link">search field</a></h3> -->
              <section
                id="list-items-editor"
                class="col-right overflow col-12 no-hover"
              >
                <div class="list-items-header-wrap">
                  <header class="list-items-header">
                    <div class="wrap">
                      <fieldset class="film-list-item-search">
                        <label class="section-heading heading-no-border"
                          >Add a film</label
                        >

                        <input
                          type="text"
                          class="field ac_input"
                          id="frm-list-film-name"
                          placeholder="Enter name of film..."
                          autocomplete="off"
                        />

                        <small>or</small>
                        <a
                          href="#list-import"
                          class="button list-import-link right"
                          data-original-title="Import films using our CSV format (or exports from IMDb)"
                          >Import</a
                        >
                      </fieldset>
                      <div id="list-edit-buttons" class="row buttons">
                        <a
                          id="list-edit-save"
                          class="button -action button-action right"
                          >Save</a
                        >
                        <a
                          id="list-edit-cancel"
                          href="/<%= user.username %>/lists/"
                          class="button button-cancel right"
                          >Cancel</a
                        >
                      </div>
                      <ul id="list-edit-toggle" class="view-toggle -large">
                        <li class="selected">
                          <a
                            href="#"
                            class="replace view-list list-toggle-standard list-toggle-selected"
                            rel="list"
                            >Detail View</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            class="replace view-grid list-toggle-posters"
                            rel="posters"
                            >Poster View</a
                          >
                        </li>
                      </ul>
                      <section class="smenu sorting-menu">
                        <div class="smenu-wrapper">
                          <label>Sort by<i class="ir s icon"></i></label>
                        </div>
                      </section>
                    </div>
                    <div class="shadow"></div>
                    <p class="saving">Saving list…</p>
                  </header>
                </div>
                <ul id="list-items" class="ui-sortable empty-list">
                  <li id="empty-list-placeholder">
                    <p>
                      <strong class="title-2">Your list is empty.</strong>
                      Add films using the field above, or from the links on a
                      film poster or page.
                    </p>
                  </li>
                </ul>
                <div
                  id="list-items-colorbox-owner"
                  style="display: none"
                  class="cboxElement"
                ></div>
              </section>

              <div class="clear"></div>
            </article>
          </div>
          <div class="form-processing"></div>
        </form>

        <form
          method="post"
          action="/import/list/"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="__csrf" value="364ebf90f82119a76886" />
          <input type="hidden" name="filmListId" value="" />
          <input type="hidden" name="name" value="" />
          <input type="hidden" name="notes" value="" />
          <input type="hidden" name="publicList" value="" />
          <input type="hidden" name="numberedList" value="" />

          <input id="upload-list" type="file" name="file" />
        </form>
      </div>
    </div>

    <footer id="page-footer" class="page-footer js-page-footer js-hide-in-app">
      <div class="content-wrap">
        <nav class="footer-nav js-footer-nav">
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/journal/">News</a></li>
            <li class="js-hide-in-app"><a href="/pro/">Pro</a></li>
            <li><a href="/apps/">Apps</a></li>
            <li>
              <a
                href="https://apple.co/3TfzHVG"
                target="_blank"
                rel="noopener noreferrer"
                >Podcast</a
              >
            </li>
            <li><a href="/year-in-review/">Year in Review</a></li>
            <li><a href="/gift-guide/">Gift Guide</a></li>
            <li><a href="/welcome/">Help</a></li>
            <li><a href="/legal/terms-of-use/">Terms</a></li>
            <li><a href="/api-beta/">API</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>

        <div class="socials">
          <nav class="social-service-list -inline">
            <div class="listitem -icononly">
              <a
                class="trigger tooltip"
                href="https://twitter.com/letterboxd"
                target="_blank"
                rel="noopener noreferrer"
                data-original-title="Letterboxd on Twitter"
              >
                <svg
                  class="glyph"
                  aria-hidden="true"
                  role="presentation"
                  width="20"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.96 4.51V4c.8-.56 1.49-1.28 2.04-2.1-.74.33-1.53.54-2.36.65.85-.5 1.5-1.3 1.8-2.24-.78.46-1.66.8-2.6.98a4.13 4.13 0 0 0-7.1 2.76c0 .31.04.62.1.92A11.72 11.72 0 0 1 1.38.74a3.99 3.99 0 0 0 1.28 5.4A4.2 4.2 0 0 1 .8 5.62v.06c0 1.95 1.42 3.59 3.29 3.96a4.06 4.06 0 0 1-1.85.07 4.1 4.1 0 0 0 3.83 2.8A8.32 8.32 0 0 1 0 14.2C1.8 15.33 3.97 16 6.28 16A11.5 11.5 0 0 0 17.96 4.51Z"
                  ></path>
                </svg>
                <span class="label">Twitter</span>
              </a>
            </div>

            <div class="listitem -icononly">
              <a
                class="trigger tooltip"
                href="https://www.facebook.com/letterboxd"
                target="_blank"
                rel="noopener noreferrer"
                data-original-title="Letterboxd on Facebook"
              >
                <svg
                  class="glyph"
                  aria-hidden="true"
                  role="presentation"
                  width="19"
                  height="19"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.5 0a9.5 9.5 0 0 0-1.48 18.89V12H5.6V9.25h2.42V7.41c0-2.38 1.41-3.7 3.58-3.7 1.04 0 2.13.19 2.13.19v2.33h-1.2c-1.18 0-1.54.74-1.54 1.49v1.53h2.63L13.2 12h-2.21v6.89A9.5 9.5 0 0 0 9.5 0Z"
                  ></path>
                </svg>
                <span class="label">Facebook</span>
              </a>
            </div>

            <div class="listitem -icononly">
              <a
                class="trigger tooltip"
                href="https://www.instagram.com/letterboxd"
                target="_blank"
                rel="noopener noreferrer"
                data-original-title="Letterboxd on Instagram"
              >
                <svg
                  class="glyph"
                  aria-hidden="true"
                  role="presentation"
                  width="20"
                  height="20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.12.06c1.07.05 1.8.22 2.43.46.66.26 1.21.6 1.77 1.16.56.55.9 1.11 1.15 1.77.25.63.42 1.36.47 2.43.04.94.06 1.32.06 3.3v1.37c0 1.54 0 2.19-.03 2.77v.22l-.03.58a7.34 7.34 0 0 1-.47 2.43 4.9 4.9 0 0 1-1.15 1.77 4.9 4.9 0 0 1-1.77 1.16c-.64.24-1.36.41-2.43.46l-.61.03h-.23c-.5.02-1.06.03-2.21.03H9.2c-2 0-2.37-.02-3.32-.06a7.34 7.34 0 0 1-2.43-.46 4.9 4.9 0 0 1-1.77-1.16 4.9 4.9 0 0 1-1.16-1.77 7.34 7.34 0 0 1-.46-2.43l-.03-.61v-.2A60.9 60.9 0 0 1 0 11.5V8.75C0 7.7.01 7.17.03 6.7v-.2l.03-.61C.1 4.8.28 4.08.52 3.45a4.9 4.9 0 0 1 1.16-1.77A4.9 4.9 0 0 1 3.45.52 7.34 7.34 0 0 1 5.88.06l.61-.03h.2C7.12 0 7.6 0 8.5 0h2.74c1.62 0 2 .02 2.88.06ZM11.02 2H8.97c-1.7 0-2.05.02-2.92.06a5.4 5.4 0 0 0-1.82.33c-.45.18-.78.39-1.12.73-.34.34-.55.67-.73 1.12-.13.35-.3.86-.33 1.82C2.02 6.93 2 7.29 2 8.98v2.04c0 1.7.02 2.05.06 2.92.04.95.2 1.47.33 1.81.18.46.39.78.73 1.13.34.34.67.55 1.12.73.35.13.86.29 1.82.33.83.04 1.2.05 2.7.06h2.47c1.51 0 1.87-.02 2.71-.06a5.4 5.4 0 0 0 1.81-.33c.46-.18.78-.4 1.12-.73.35-.35.56-.67.73-1.13.14-.34.3-.86.34-1.8a49 49 0 0 0 .06-2.72V8.77a49 49 0 0 0-.06-2.71 5.4 5.4 0 0 0-.34-1.82 3.02 3.02 0 0 0-.73-1.12 3.02 3.02 0 0 0-1.12-.73 5.4 5.4 0 0 0-1.81-.33c-.88-.04-1.23-.06-2.93-.06ZM10 4.86a5.14 5.14 0 1 1 0 10.28 5.14 5.14 0 0 1 0-10.28ZM10 7a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm5.25-3.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z"
                  ></path>
                </svg>
                <span class="label">Instagram</span>
              </a>
            </div>

            <div class="listitem -icononly">
              <a
                class="trigger tooltip"
                href="https://www.youtube.com/letterboxdhq"
                target="_blank"
                rel="noopener noreferrer"
                data-original-title="Letterboxd on YouTube"
              >
                <svg
                  class="glyph"
                  aria-hidden="true"
                  role="presentation"
                  width="23"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.74 0c.61 0 2.33.02 4.11.08l.54.02c1.7.06 3.35.18 4.1.38a2.87 2.87 0 0 1 2.03 2.02c.45 1.67.48 5.04.48 5.46v.08c0 .42-.03 3.8-.48 5.46a2.87 2.87 0 0 1-2.03 2.02c-.75.2-2.4.32-4.1.38l-.54.02c-1.78.07-3.5.08-4.11.08H11.26c-.62 0-2.33-.01-4.11-.08l-.54-.02c-1.7-.06-3.36-.18-4.1-.38A2.87 2.87 0 0 1 .48 13.5C.04 11.9 0 8.68 0 8.1v-.2c0-.58.04-3.79.48-5.4A2.87 2.87 0 0 1 2.5.48c.74-.2 2.4-.32 4.1-.38l.54-.02C8.93.02 10.65 0 11.26 0ZM9 4.57v6.86L15 8 9 4.57Z"
                  ></path>
                </svg>
                <span class="label">YouTube</span>
              </a>
            </div>

            <div class="listitem -icononly">
              <a
                class="trigger tooltip"
                href="https://www.tiktok.com/@letterboxd"
                target="_blank"
                rel="noopener noreferrer"
                data-original-title="Letterboxd on TikTok"
              >
                <svg
                  class="glyph"
                  aria-hidden="true"
                  role="presentation"
                  width="17"
                  height="18"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.48 4.32a4.62 4.62 0 0 1-3.92-2.66A4.04 4.04 0 0 1 12.23 0H9.07v11.85c0 1.93-1.19 3.07-2.65 3.07a2.71 2.71 0 0 1-2.04-.9 2.57 2.57 0 0 1-.6-2.1 2.55 2.55 0 0 1 1.26-1.81 2.7 2.7 0 0 1 2.24-.21V6.77a5.92 5.92 0 0 0-4.08.86 5.7 5.7 0 0 0-2.15 2.55 5.53 5.53 0 0 0 1.26 6.16 5.86 5.86 0 0 0 6.33 1.23 5.78 5.78 0 0 0 2.6-2.08c.64-.94.98-2.03.98-3.15V5.96a7.74 7.74 0 0 0 4.25 1.25V4.32Z"
                  ></path>
                </svg>
                <span class="label">TikTok</span>
              </a>
            </div>
          </nav>
        </div>

        <p class="copyright">
          © Letterboxd Limited. Made by
          <a href="/crew/" class="mute">fans</a> in Aotearoa New Zealand.
          <span class="nobr"
            ><a href="https://letterboxd.com/about/film-data/" class="mute"
              >Film data</a
            >
            from <a href="https://www.themoviedb.org" class="mute">TMDb</a>.

            <a
              href="#"
              class="mute mobile-site-switch"
              data-use-mobile-site="yes"
              >Mobile&nbsp;site</a
            >.
          </span>
          <span class="recap" style="display: none"
            ><br />This site is protected by reCAPTCHA and the Google
            <a
              href="https://policies.google.com/privacy"
              target="_blank"
              rel="noopener noreferrer"
              class="mute"
              >privacy policy</a
            >
            and
            <a
              href="https://policies.google.com/terms"
              target="_blank"
              rel="noopener noreferrer"
              class="mute"
              >terms of service</a
            >&nbsp;apply.</span
          >
        </p>
      </div>
    </footer>

    <div
      id="remove-ads-modal"
      class="modal-neue fade"
      tabindex="-1"
      aria-labelledby="remove-ads-modal-title"
      aria-hidden="true"
    >
      <div class="modal-dialog -sm modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="remove-ads-modal-title">
              Upgrade to remove&nbsp;ads
            </h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal-neue"
              aria-label="Close"
            >
              <svg
                class="glyph"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke-linecap="round"
                  stroke="#000"
                  stroke-width="2"
                >
                  <path d="m1 1 14 14M1 15 15 1"></path>
                </g>
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <div class="body-text -hero">
              <p>
                Letterboxd is an independent service created by a small team,
                and we rely mostly on the support of our members to maintain our
                site and apps. Please consider upgrading to a
                <a href="/pro/">Pro account</a>—for less than a couple bucks a
                month, you’ll get cool additional features like all-time and
                annual stats pages (<a href="https://letterboxd.com/jack/stats/"
                  >example</a
                >), the ability to select (and filter by) your favorite
                streaming services, and no ads!
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <a href="/pro/" class="button -action button-action"
              >Learn more about Pro</a
            >
          </div>
        </div>
      </div>
    </div>

    <form
      id="poster-picker-modal"
      class="modal-neue fade poster-picker-modal"
      method="post"
      action=""
      novalidate="novalidate"
      tabindex="-1"
      role="dialog"
      aria-labelledby="poster-picker-modal-title"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div
        class="modal-dialog -lg modal-dialog-centered modal-dialog-scrollable"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="poster-picker-modal-title">
              Select your preferred poster
            </h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal-neue"
              aria-label="Close"
            >
              <svg
                class="glyph"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke-linecap="round"
                  stroke="#000"
                  stroke-width="2"
                >
                  <path d="m1 1 14 14M1 15 15 1"></path>
                </g>
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <div
              id="poster-picker-84edec4c-10f5-4147-aadf-9795520881dc"
              data-poster-picker-options='{"id": "84edec4c-10f5-4147-aadf-9795520881dc"}'
              data-js-target="poster-picker"
              class="poster-picker"
            ></div>
          </div>
          <div class="modal-footer">
            <div class="poster-picker-note">
              <div class="body-text -small">
                <p>
                  Posters are sourced from
                  <a href="https://www.themoviedb.org" target="_blank">TMDb</a>
                  and
                  <a href="https://posteritati.com" target="_blank"
                    >Posteritati</a
                  >, and appear for you and visitors to your profile and
                  content, depending on settings.
                  <a
                    href="https://letterboxd.com/journal/posterity-custom-posters/"
                    target="_blank"
                    >Learn more.</a
                  >
                </p>
              </div>
            </div>

            <div
              class="poster-picker-controls"
              data-poster-picker-controls-for="84edec4c-10f5-4147-aadf-9795520881dc"
            >
              <div class="modal-action-group -center">
                <button
                  class="button -destructive"
                  type="button"
                  data-js-trigger="reset"
                  disabled=""
                >
                  <span class="label">Reset poster</span>
                </button>
                <button
                  class="button -action"
                  type="submit"
                  data-js-trigger="submit"
                  disabled=""
                >
                  <span class="label"
                    >Save<span class="mob-hide"> changes</span></span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script
      defer=""
      src="https://s.ltrbxd.com/static/js/partner-publishers.min.6fc86c8d.js"
    ></script>

    <div id="cboxOverlay" style="display: none"></div>
    <div id="colorbox" class="" style="display: none">
      <div id="cboxWrapper">
        <div>
          <div id="cboxTopLeft" style="float: left"></div>
          <div id="cboxTopCenter" style="float: left"></div>
          <div id="cboxTopRight" style="float: left"></div>
        </div>
        <div style="clear: left">
          <div id="cboxMiddleLeft" style="float: left"></div>
          <div id="cboxContent" style="float: left">
            <div id="cboxTitle" style="float: left"></div>
            <div id="cboxCurrent" style="float: left"></div>
            <div id="cboxNext" style="float: left"></div>
            <div id="cboxPrevious" style="float: left"></div>
            <div id="cboxSlideshow" style="float: left"></div>
            <div id="cboxClose" style="float: left"></div>
          </div>
          <div id="cboxMiddleRight" style="float: left"></div>
        </div>
        <div style="clear: left">
          <div id="cboxBottomLeft" style="float: left"></div>
          <div id="cboxBottomCenter" style="float: left"></div>
          <div id="cboxBottomRight" style="float: left"></div>
        </div>
      </div>
      <div
        style="
          position: absolute;
          width: 9999px;
          visibility: hidden;
          display: none;
        "
      ></div>
    </div>
    <ul
      class="smenu-menu -listsorting"
      style="
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(627px, 401px, 0px);
      "
      data-popper-placement="right-start"
    >
      <li class="smenu-selected">Sort by<i class="ir s icon"></i></li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="NAME"
          >Film Name (A–Z)</a
        >
      </li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="RELEASE_NEWEST"
          >Release Date (Newest First)</a
        >
      </li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="RELEASE_OLDEST"
          >Release Date (Oldest First)</a
        >
      </li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="RATING_HIGHEST"
          >Your Rating (High to Low)</a
        >
      </li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="RATING_LOWEST"
          >Your Rating (Low to High)</a
        >
      </li>
      <li>
        <a
          class="item js-list-edit-sort"
          href="#"
          data-sort="AVR_RATING_HIGHEST"
          >Average Rating (High to Low)</a
        >
      </li>
      <li>
        <a class="item js-list-edit-sort" href="#" data-sort="AVR_RATING_LOWEST"
          >Average Rating (Low to High)</a
        >
      </li>
    </ul>
    <div
      id="adBanner"
      class="adLeaderboard adBanner leaderboard_ad"
      style="
        background-color: transparent;
        height: 10px;
        width: 10px;
        position: fixed;
        bottom: -100px;
        left: -100px;
      "
    >
      &nbsp;
    </div>
    <iframe
      id="pw_user_data"
      src="https://cdn.intergient.com/pageos/1.9.13/iframe/iframe.html"
      style="
        display: none;
        height: 0px;
        width: 0px;
        position: fixed;
        bottom: -99999px;
      "
    ></iframe
    ><quillbot-extension-portal></quillbot-extension-portal>
    <div
      id="tyche_trendi_video_container"
      style="
        height: 169px;
        width: 300px;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        right: 0px;
        bottom: 0px;
      "
    >
      <div
        id="tyche_trendi_video"
        style="
          width: 100%;
          height: 100%;
          position: relative;
          transition: opacity 0.2s ease-out 0s;
          background-color: transparent;
        "
        data-script-id="1676639547677"
      >
        <div
          class="loading-spinner"
          style="
            position: absolute;
            display: none;
            width: 24px !important;
            height: 24px !important;
            top: 84.5px;
            left: 150px;
          "
        >
          <div
            class="spinner"
            aria-role="progressbar"
            style="position: relative; z-index: 2000000000; left: 0px; top: 0px"
          >
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-0-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(0deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-1-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(40deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-2-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(80deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-3-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(120deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-4-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(160deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-5-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(200deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-6-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(240deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-7-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(280deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
            <div
              style="
                position: absolute;
                top: -2px;
                opacity: 0.25;
                animation: 1s linear 0s infinite normal none running
                  opacity-60-25-8-9;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 5px;
                  height: 5px;
                  background: rgb(255, 255, 255);
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
                  transform-origin: left center;
                  transform: rotate(320deg) translate(8px, 0px);
                  border-radius: 2px;
                "
              ></div>
            </div>
          </div>
        </div>
        <div
          id="tyche_trendi_video_display_ad_container"
          style="display: none; position: absolute; top: 0px; left: 0px"
        ></div>
        <p
          style="
            color: red;
            padding: 10px;
            background: black;
            position: absolute;
            top: 64.5px;
            left: 59.5px;
          "
        >
          Cannot load player config
        </p>
      </div>
      <script
        src="https://cdn.playwire.com/bolt/js/zeus/embed.js"
        type="text/javascript"
        charset="utf-8"
        data-id="tyche_trendi_video"
        data-width="100%"
        data-height="100%"
        data-config="https://config.playwire.com/1024338/playlists/v2/5109/zeus.json"
        data-onready="window.ramp.handleBoltEvents.trendiVideo"
        data-adunit-type="trendi_video"
        data-ad-podding="on"
        id="tyche_trendi_video_script"
        data-script-id="1676639547677"
      ></script>
      <iframe
        src="https://4bd74e6633c133a230fb407174fbe423.safeframe.googlesyndication.com/safeframe/1-0-40/html/container.html"
        style="visibility: hidden; display: none"
      ></iframe>
    </div>
    <div id="pw-oop-bottom_rail" class="pw-tag">
      <div
        id="google_ads_iframe_/154013155,12709546/1024338/72804/1024338-72804-bottom_rail_0__container__"
        style="border: 0pt none; width: 320px; height: 0px"
      ></div>
    </div>
    <iframe
      src="https://www.google.com/recaptcha/api2/aframe"
      width="0"
      height="0"
      style="display: none"
    ></iframe>
    <!-- <button id="add-all-button">Add All Movies</button> -->
  </body>
</html>

<script>
  $(function () {
    $("#frm-list-film-name")
      .autocomplete({
        source: "/s/autocompletefilm",
        select: function (event, ui) {
          $.ajax({
            url: "/s/getmoviedetails",
            type: "POST",
            data: { movieId: ui.item.id },
            success: function (data) {
              var newItem = $("<li>")
                .addClass("film-list-entry icon-drag")
                .css("opacity", 1);
              var icon = $("<span>").addClass("icon");
              var listNumber = $("<div>")
                .addClass("list-number")
                .text($("#list-items").children().length + 1);
              var poster = $("<div>").addClass(
                "react-component poster film-poster film-poster-" + ui.item.id
              );
              var img = $("<img>")
                .attr(
                  "src",
                  data.poster_path
                    ? "https://image.tmdb.org/t/p/w500/" + data.poster_path
                    : "https://via.placeholder.com/35x52.png?text=No+Poster"
                )
                .attr("width", "35")
                .attr("height", "52")
                .attr("alt", ui.item.label)
                .addClass("image");
              var frame = $("<span>").addClass("frame");
              var frameTitle = $("<span>")
                .addClass("frame-title")
                .text(ui.item.label);
              frame.append(frameTitle);
              poster.append($("<div>").append(img).append(frame));

              var listItemDetails = $("<div>").addClass("list-item-details");
              var h3 = $("<h3>").addClass("headline-2 prettify");
              var title = $("<span>").text(data.title);
              var year = $("<small>")
                .addClass("metadata")
                .text(
                  data.release_date
                    ? " " + data.release_date.slice(0, 4) + ""
                    : ""
                );
              h3.append(title).append(year);
              var listEntryNotes = $("<div>").addClass("list-entry-notes");

              listItemDetails.append(h3).append(listEntryNotes);

              var listItemActions = $("<span>").addClass("list-item-actions");
              var listItemRemoveLink = $("<a>")
                .attr("href", "#")
                .addClass("list-item-remove replace")
                .text("Remove");
              listItemActions.append(listItemRemoveLink);
              listItemRemoveLink.click(function () {
                newItem.remove();
                if ($("#list-items").children().length === 1) {
                  $("#empty-list-placeholder").show();
                }
              });

              newItem
                .append(icon)
                .append(listNumber)
                .append(poster)
                .append(listItemDetails)
                .append(listItemActions);
              $("#list-items").append(newItem);
              $("#frm-list-film-name").val("");
              $("#frm-list-film-name").trigger("blur");
              $("#empty-list-placeholder").hide();
            },
          });
          return false;
        },
      })
      .autocomplete("instance")._renderItem = function (ul, item) {
      return $("<li>")
        .append("<div>" + item.label + "</div>")
        .appendTo(ul);
    };
  });

  listItemRemoveLink.on("click", function (e) {
    e.preventDefault();
    $(this).closest("li").remove();
  });

  // $(function() {
  //   $('#frm-list-film-name').autocomplete({
  //     source: '/s/autocompletefilm',
  //     select: function(event, ui) {
  //       $.ajax({
  //         url: '/s/getmoviedetails',
  //         type: 'POST',
  //         data: { movieId: ui.item.id },
  //         success: function(data) {
  //           var newItem = $('<li>');
  //           var poster = $('<img>').attr('src', data.poster_path ? 'https://image.tmdb.org/t/p/w92/' + data.poster_path : 'https://via.placeholder.com/92x138.png?text=No+Poster');
  //           var title = $('<div>').text(data.title);
  //           newItem.append(poster).append(title);
  //           $('#list-items').append(newItem);
  //           $('#frm-list-film-name').val('');
  //           $('#frm-list-film-name').trigger('blur');
  //         }
  //       });
  //       return false;
  //     }
  //   }).autocomplete('instance')._renderItem = function(ul, item) {
  //     return $('<li>')
  //       .append('<div>' + item.label + '</div>')
  //       .appendTo(ul);
  //   };
  // });
</script>

<!-- <script>
  $("#add-all-button").on("click", async function () {
  const listItems = $("#list-items").children().slice(1);
  const user = "<%= user._id %>"; // get the current user ID from the server
  const films = [];
  const listName = $("#list-name-input").val(); // get the name of the list from the input field
  console.log(listName)
  

  // Loop through each list item and extract the film data
  listItems.each(function (index, listItem) {
    const filmData = {
      id: $(listItem).find(".film-poster").attr("class").match(/film-poster-(\d+)/)[1],
      title: $(listItem).find(".headline-2").text(),
      year: $(listItem).find(".metadata").text(),
      posterUrl: $(listItem).find("img").attr("src"),
    };
    films.push(filmData);
  });

  console.log(films); // make sure that films is not empty and contains the expected data

  // Send the film data to the server
  const response = await fetch("/add-to-list", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      user,
      listName,
      films,
    }),
  });

  // Handle the server's response
  const responseData = await response.json();
  if (responseData.success) {
    alert("Films added to list!");
  } else {
    alert("Failed to add films to list.");
  }
});

</script> -->

<script>
  $("#list-edit-save").on("click", async function () {
    const listItems = $("#list-items").children().slice(1);
    const user = "<%= user._id %>"; // get the current user ID from the server
    const films = [];
    const listName = $("#list-name-input").val(); // get the name of the list from the input field
    console.log(listName)

    // Loop through each list item and extract the film data
    listItems.each(function (index, listItem) {
      const filmData = {
        id: $(listItem).find(".film-poster").attr("class").match(/film-poster-(\d+)/)[1],
        title: $(listItem).find(".headline-2").text(),
        year: $(listItem).find(".metadata").text(),
        posterUrl: $(listItem).find("img").attr("src"),
      };
      films.push(filmData);
    });

    console.log(films); // make sure that films is not empty and contains the expected data

    // Send the film data to the server
    const response = await fetch("/add-to-list", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        user,
        listName,
        films,
      }),
    });

    // Handle the server's response
    const responseData = await response.json();
    if (responseData.success) {
      alert("Films added to list!");
    } else {
      alert("Failed to add films to list.");
    }
  });
</script>
