<!DOCTYPE html>
<html>
  <head>
    <title><%= movieData.title %></title>
  </head>
  <body>
    <h1><%= movieData.title %></h1>
    <p>Release Date: <%= movieData.release_date %></p>
    <p>Overview: <%= movieData.overview %></p>
    <img
      src="https://image.tmdb.org/t/p/w500<%= movieData.poster_path %>"
      alt="<%= movieData.title %> Poster"
    />
    <img
      src="https://image.tmdb.org/t/p/w1280<%= movieData.backdrop_path %>"
      alt="<%= movieData.title %> Backdrop"
    />
    <h2><%= movieData.tagline %></h2>
  </body>
</html>
